@import "variables";
@import "responsive";
@import "mixins";

body .nl-page {
  font-family: $body-font;
  font-size: 14px;
  color: $black;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 3rem;
  }


  section {
    padding-bottom: 2rem;

    &.dynamic-section {
      position: relative;
      padding-bottom: 40px;
    }
  }

  p {
    font-family: $body-font;
    font-size: 1.4rem;
  }

  a, button {
    font-family: $header-font;
    font-weight: 700;
    font-size: 1.2rem;
  }

  footer {
    padding: 1rem;
    border-top: 1px solid $black;

    .footer-left {
      border-right: 1px solid $black;
    }

    .footer-right {
      button {
        margin-left: 1rem;
      }
    }

  }

  .align-right {
    text-align: right;
  }

  .vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .underline {
    position: relative;
    padding-bottom: 1rem;

    &:after {
      content: "";
      width: 66%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 6px;
      background-color: $secondary-color;
    }
  }

  .subheading {
    background-color: $secondary-color;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #landing {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;

    h1 {
      color: $tertiary-color;
      font-family: $body-font;
      text-transform: lowercase;
      font-size: 5rem;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .landing-subtitle {
      color: $tertiary-color;
      font-family: $header-font;
      text-transform: uppercase;
    }
  }

  .collection {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .reading-item {
    a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 400;
    }

    h4, p {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    .author {
      font-weight: 700;
    }
  }

}