@import "variables";
@import "responsive";
@import "mixins";

body .nl-page {
  font-family: $body-font;
  font-size: 14px;
  color: $black;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 3rem;
  }


  section {
    padding-bottom: 2rem;

    &.dynamic-section {
      position: relative;
      padding-bottom: 40px;
    }
  }

  p {
    font-family: $body-font;
    font-size: 1.4rem;
  }

  a, button {
    font-family: $header-font;
    font-weight: 700;
    font-size: 1.2rem;
  }

  footer {
    padding: 1rem;
    border-top: 1px solid $black;

    .footer-left {
      border-right: 1px solid $black;
    }

    .footer-right {
      button {
        margin-left: 1rem;
      }
    }

  }

  .align-right {
    text-align: right;
  }

  .vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bold {
    font-weight: 700;
  }

  .underline {
    position: relative;
    padding-bottom: 1rem;

    &:after {
      content: "";
      width: 66%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 6px;
      background-color: $secondary-color;
    }
  }

  .underline-sm {
    position: relative;
    padding-bottom: 1rem;

    &:after {
      content: "";
      width: 33%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 6px;
      background-color: $secondary-color;
    }
  }

  .subheading {
    background-color: $secondary-color;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #landing {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;

    h1 {
      color: $tertiary-color;
      font-family: $body-font;
      text-transform: lowercase;
      font-size: 5rem;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .landing-subtitle {
      color: $tertiary-color;
      font-family: $header-font;
      text-transform: uppercase;
    }
  }

  .collection {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .reading-item {
    font-size: 1rem;

    .author {
      font-family: $header-font;
      margin-bottom: 1rem;
    }

    h4, p {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    p, a {
      font-size: 1rem;
    }

    &.MuiPaper-outlined {
      border: 1px solid $black;
    }
  }

  .question-item {
    background-color: $tertiary-color;
    padding: 2rem;

    .question-body, p {
      font-family: $header-font;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .podcast-item {
    display: flex;

    .media {
      background-color: $grey;
      flex: 0 0 33%;
      position: relative;

      .play-button {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $secondary-color;
        border-radius: 0;
        padding: 1rem 2rem;
      }
    }

    .card-body {
      flex-grow: 1;

      h4 {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .author {
        color: $charcoal;
        font-size: 1rem;
        font-family: $header-font;
        font-weight: 700;
      }

      .description, .description p {
        font-size: 1rem;
      }

      .details {
        display: flex;
        font-size: 1rem;
        font-family: $header-font;
        color: $charcoal;

        > div {
          flex: 0 0 50%;

          > span {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

}